/*
 *  This file can be used to set variables and supply global styling.  View specific 
 *  styling should be located the view's corresponding scss file.
 */
 $enable-font-awesome: dynamic(true);
 $mstraining-button-icon-color: #fff;
 $mstraining-tab-icon-color: rgb(11, 103, 196);
 
 .tabIcon {
     color: $mstraining-tab-icon-color;
 }
 
 .buttonIcon {
     color: $mstraining-button-icon-color;
 }